.setting__notice .form-switch .form-check-input{
  border-color: transparent;
  background-color: #ecedf1;
  height: 24px;
  width: 3em;
  margin-left: -2.5em;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: right center;
  &:active {
    filter: none;
  }
  &:checked {
    box-shadow: none;
    background-color: $blue-500;
    background-position: left center !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")

  }
  &:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }
}
