.lnb-box {
    width: 184px;
    height: 675px;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    @include media-breakpoint-down(lg) {
        transform: inherit;
        top: 0;
        width: 198px;
        height: 100%;
        background-color: $g50;
        position: relative;
        overflow: hidden;
    }
}
.lnb-header {
    height: 200px;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.lnb-logo {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    position: relative;
}
.user-no-login {
    .bm-item-list {
        padding-top: 38px;
    }
    .logo-responsive {
        width: 130px;
        height: 24px;
        margin: auto;
        img {
            width: 100%;
        }
    }
}

.user-student {
    .lnb-header {
        background: linear-gradient(
            123.37deg,
            #3bc9d8 -61.48%,
            #0095a4 101.27%,
            rgba(0, 149, 164, 0) 101.29%
        );
    }
    .lnb-logo {
        background-color: #0095a4;
    }
    .lcicon-student {
        position: absolute;
        top: 20px;
        left: 16px;
    }
    .lnb-infor {
        color: $m200;
    }
}
.user-parent {
    .lnb-header {
        background: linear-gradient(
            117.47deg,
            #467edf -13.75%,
            #1c4da1 106.11%
        );
    }
    .lnb-logo {
        background-color: #1c4da1;
    }
    .lcicon-parent {
        position: absolute;
        top: 20px;
        left: 12px;
    }
    .lnb-infor {
        color: $b200;
    }
}
.user-tutor {
    .lnb-header {
        background: linear-gradient(121.34deg, #8451d7 -8.49%, #542e91 78.76%);
    }
    .lnb-logo {
        background-color: #542e91;
    }
    .lcicon-tutor {
        position: absolute;
        top: 28px;
        left: 16px;
    }
    .lnb-infor {
        color: $p200;
    }
}

.lnb-infor {
    font-size: 14px;
    font-weight: 500;
}

.lnb-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

.lnb-body {
    height: 420px;
    padding: 20px 0;
    background-color: #fff;
    border-width: 0 1px 1px 0;
    border-color: #e7e7e7;
    border-style: solid;
    border-bottom-right-radius: 10px;
    @include media-breakpoint-down(lg) {
        background-color: transparent;
    }
    ul {
        @include reset-list;
        li {
            text-align: right;
        }
    }
    @include media-breakpoint-down(lg) {
        border: 0;
    }
}

.lnb-link {
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    padding: 0 30px 0 10px;
    position: relative;
    display: block;
    color: #000;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        background-color: #fff;
        display: block;
    }
}
.user-student {
    .lnb-link {
        &.active,
        &:hover {
            background-color: $m50;
            color: $m500;
        }

        &.active::after,
        &:hover::after {
            background-color: $m500;
        }
    }
}
.user-parent {
    .lnb-link {
        &.active,
        &:hover {
            background-color: $b50;
            color: $b500;
        }

        &.active::after,
        &:hover::after {
            background-color: $b500;
        }
    }
}
.user-tutor {
    .lnb-link {
        &.active,
        &:hover {
            background-color: $p50;
            color: $p500;
        }

        &.active::after,
        &:hover::after {
            background-color: $p500;
        }
    }
}

.lnb-footer {
    text-align: center;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 0px 10px 10px 0px;
    margin-top: -1px;
    a {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        display: block;
    }
}

.span-logout {
    position: absolute;
    bottom: 26px;
    left: 69px;

    a {
        color: #000;
        font-weight: 500;
        font-size: 16px;
        font-family: $font-family-base;
    }
}
.bm-burger-button {
    position: absolute;
    width: 18px;
    height: 12px;
    left: 22px;
    top: 21px;
    background-image: url('../icons/navbar-menu.png');
    background-repeat: no-repeat;
}
.bm-menu-wrap {
    background-color: $g50;
    top: 0;
    border-radius: 0px 10px 0px 0px;
    .bm-item-list {
        text-align: center;
    }
    overflow: hidden;
}
.bm-overlay {
    top: 0;
}
