.btn:focus {
    box-shadow: none;
}

.button-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.accordion-button {
    box-shadow: none !important;
    background: none !important;
    color: $black-800 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fillRule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.btn-toggle {
    box-shadow: none !important;
    border-radius: 0 !important;
    border-color: $black-300 !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color: $white !important;
    color: $black-300 !important;
}

.btn-toggle.toggled {
    border-color: $blue-300 !important;
    background-color: $blue-300 !important;
    color: $white !important;
}