@import "~react-datepicker/dist/react-datepicker.css";

.position-relative {
  .react-datepicker-popper {
    right: 0 !important;
    left: 0 !important;
    transform: none !important;
    top: 32px !important;
  }
}

.react-datepicker__header.react-datepicker__header--custom {
  background-color: #ffffff;
  border-bottom: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  text-align: center;
  font-weight: 500;
  font-family: $font-noto;
  font-size: 14px;
  margin: 5px;

  &:hover {
    border-radius: 100rem;
  }
  &:focus-visible {
    outline: 0;
  }
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $blue-300;
  border-radius: 100rem;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: $black-400;
}
.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__day:hover :not(.react-datepicker__day--disabled) {
  border-radius: 100rem;
  background-color: $blue-300;
  color: #fff;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 100rem;
  background-color: $blue-300;
  color: #fff;
}

.react-datepicker__header--time--only {
  display: none;
}
