<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="kr">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 템플릿 업데이트</title>
</head>
<body>
<div>
  <div class = "rowspan">
    <span><b>제목</b></span>
    <span class="ml-5">[LiveClass 리딩엠 Admin] 비밀번호 재설정을 위한 이메일 인증</span>
  </div>

  <div class = "rowspan">
    <span><b>보낸 사람</b></span>
    <span class="ml-5">Admin</span>
  </div>

  <div class = "rowspan">
    <span><b>받는 사람</b></span>
    <span class="ml-5">관리자 이메일 계정</span>
  </div>

  <span>______________________________________________________</span>

  <div class = "rowspan">
    <span class="ml-5">[LiveClass 리딩엠 Admin]</span>
  </div>

  <div class = "rowspan">
    <span class="ml-5">비밀번호 재설정을 위한 이메일 인증을 요청하셨습니다.</span>
  </div>

  <div class = "rowspan">
    <span class="ml-5">아래 링크를 클릭하여 이메일 인증을 완료하고 비밀번호를 재설정하실 수 있습니다.</span>
  </div>

  <div class = "rowspan">
    <a th:href="${confirmUrl}">이메일 인증 확인</a>
  </div>

</div>
</body>
</html>